.appGrids{
    display: grid;
    grid-template-columns: 300px 300px 1fr;
    grid-template-rows: 80px 1fr;

    grid-template-areas:
    "users posts freespece"
    "content content content";

}

.links{
    background: black;
    height: 80px;
    font-size: 24px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
}

a:link{
    text-decoration: none;
    color: white;
}




.links:hover{
    color: blue;
}


.usersLink{
    grid-area: users;
    padding-left: 50px;
}

.usersLink:hover{
    background: blueviolet;
}

.postsLink {
    grid-area: posts;
    padding-right: 50px;
}

.postsLink:hover{
    background: blueviolet;
}

.freespece{
    grid-area: freespece;
}

.content{
    grid-area: content;
    margin: 20px;
}



body{
    margin-bottom: 0;
    margin-top: 0;
}